{"class":"DuoNotifier",
"name":"Duo Notifier Configurations",
"config":[
		{"NotifyId":"com.duosoftware.auth.email",
		"NotifyMethodsConfig":{
		"EMAIL":{"Email":"prasad@duosoftware.com","Password":"1Qaz2Wsx3Edc4Rfv","Server":"smtp.gmail.com:465"},
		"SMS":{"Gateway":"mobitel","Password":"testPass"}}}]}