    <div ng-controller="termCtrl">

      <article class="module width_full">
        <header>
          <h3>{{pageName}}</h3>
        </header>
        <div class="module_content">
          <form class="post_message" name="Auth">
            <table width="100%">
              <tbody>
                <tr>
                  <td width="50%">Debuging Enabled</td>
                  <td> <input name="DebugLine" ng-model="FileContent.DebugLine" type="checkbox"> </td>
                </tr>
                <tr>
                  <td width="50%">Error Enabled</td>
                  <td> <input name="ErrorLine" ng-model="FileContent.ErrorLine" type="checkbox"> </td>
                </tr>
                <tr>
                  <td width="50%">Debuging Enabled</td>
                  <td> <input name="InformationLine" ng-model="FileContent.InformationLine" type="checkbox"> </td>
                </tr>
                
              </tbody>
            </table>
            <input value="Save" ng-click="submit()" class="alt_btn" type="submit"> <input value="Reset"
              type="submit"> </form>  
        </div>
      </article>
    </div>
   
