[{"ServerConfiguration":{"POSTGRES":{"Password":"123","Port":"5432","Url":"127.0.0.1","Username":"postgres"}},"StorageEngine":"REPLICATED","StoreConfiguration":{"DELETE-MULTIPLE":{"priority2":"POSTGRES"},"DELETE-SINGLE":{"priority2":"POSTGRES"},"GET-ALL":{"priority1":"POSTGRES"},"GET-KEY":{"priority2":"POSTGRES"},"GET-QUERY":{"priority1":"POSTGRES","priority6":"POSTGRES"},"GET-SEARCH":{"priority1":"POSTGRES"},"INSERT-MULTIPLE":{"priority2":"POSTGRES"},"INSERT-SINGLE":{"priority2":"POSTGRES"},"SPECIAL":{"priority2":"POSTGRES"},"UPDATE-MULTIPLE":{"priority2":"POSTGRES"},"UPDATE-SINGLE":{"priority2":"POSTGRES"}},"StoreId":"Default"},{"StorageEngine":"QUEUED","StoreId":"com.duosoftware.com.customer"}]