[{"ServerConfiguration":{"MYSQL":{"Password":"1234","Port":"3306","Url":"127.0.0.1","Username":"root"}},"StorageEngine":"REPLICATED","StoreConfiguration":{"DELETE-MULTIPLE":{"priority2":"CLOUDSQL"},"DELETE-SINGLE":{"priority2":"CLOUDSQL"},"GET-ALL":{"priority1":"CLOUDSQL"},"GET-KEY":{"priority2":"CLOUDSQL"},"GET-QUERY":{"priority1":"CLOUDSQL","priority6":"CLOUDSQL"},"GET-SEARCH":{"priority1":"CLOUDSQL"},"INSERT-MULTIPLE":{"priority2":"CLOUDSQL"},"INSERT-SINGLE":{"priority2":"CLOUDSQL"},"SPECIAL":{"priority2":"CLOUDSQL"},"UPDATE-MULTIPLE":{"priority2":"CLOUDSQL"},"UPDATE-SINGLE":{"priority2":"CLOUDSQL"}},"StoreId":"Default"},{"StorageEngine":"QUEUED","StoreId":"com.duosoftware.com.customer"}]